:root{
  box-sizing: 0;
  --darkgreen:#5A7A0A;
  --lightgreen:#83D350;
  --primaryorange:#FAB036;

}

body{
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ticketinput{
  padding: 0.5rem;
  margin-left: 0.5rem
}
.WarpperForm{
  border: 2px solid;
  border-color: var(--primaryorange);
}